<section class="px-6 md:px-24 pt-[3rem] overflow-hidden">
    <div class="">
        <h2 class="font-crash text-[1.125rem] font-medium md:font-normal md:text-header md:basis-3/4">
            <%= dataChooseUs.data.attributes.Choose_Us_Heading %>
        </h2>
        <div class="mt-4 md:mt-[2.8rem] choose-us">
            <div class=" grid grid-cols-3 md:grid-cols-5 items-stretch">
                <div class="col-span-2 relative pt-4 md:pt-8">
                    <div class=" relative w-full h-32 md:h-full z-10 rounded-[0.43rem] md:rounded-xl overflow-hidden px-2">
                        <img src="<%= strapi_base  %><%= dataChooseUs.data.attributes.Choose_01_Img.data.attributes.url %>" alt="<%= dataChooseUs.data.attributes.Choose_01_Img.data.attributes.alternativeText %>" class=" rounded-[0.43rem] md:rounded-xl h-full w-full object-cover">
                    </div>
                    <div class="absolute md:top-5 top-2 p-[1px] w-full h-[calc(100%-1rem)] md:h-[calc(100%-2rem)] bottom-2 left-0 bg-[linear-gradient(0deg,rgba(0,229,188,0)0%,rgba(11,102,157,1)100%)] rounded-[0.64rem] md:rounded-[1.13rem]">
                        <div class="bg-white rounded-[0.55rem] md:rounded-[1.06rem] h-full w-full">

                        </div>
                    </div>

                </div>
                <div class="flex md:flex-col items-center md:pr-0 pr-[0.68rem] justify-center">
                    <div class="h-full hidden md:block w-[0.125rem] bg-[linear-gradient(180deg,#00E5BC_100%,#0B669D_100%)] opacity-0 self-center">

                    </div>
                    <div class="rounded-full text-center order-2 text-white text-[1.19rem] md:text-2xl font-medium bg-[linear-gradient(53deg,#0B669D_14.95%,#00E5BC_85.99%)] py-2 px-3 md:py-3 md:px-4 ">
                        01
                    </div>
                    <div class="h-[1px] w-full md:h-full md:w-[0.125rem] order-1 md:order-3 bg-[linear-gradient(90deg,#00E5BC_5.0%,#0B669D_100%)] md:bg-[linear-gradient(0deg,#00E5BC_5.0%,#0B669D_100%)] relative self-center">
                        <div class="md:w-[0.125rem] md:h-[200%] absolute bg-white origin-left md:origin-bottom h-[1px] w-full slider-1">

                        </div>
                    </div>
                </div>
                <div class="col-span-2 md:py-32 py-5 pl-[0.38rem] md:pl-0">
                    <h3 class="text-base md:text-2xl font-medium md:font-normal">
                        <%= dataChooseUs.data.attributes.Choose_01_Heading %>
                    </h3>
                    <p class="text-[0.625rem] md:text-base mt-[0.4rem] md:mt-[0.81rem] leading-snug">
                        <%= dataChooseUs.data.attributes.Choose_01_Para %>
                    </p>
                </div>
            </div>
            <div class=" grid grid-cols-3 md:grid-cols-5 items-stretch">
                <div class="col-span-2 relative order-2 md:order-3 pt-4 md:pt-8">
                    <div class=" relative w-full h-32 md:h-full z-10 rounded-[0.43rem] md:rounded-xl overflow-hidden px-2">
                        <img src="<%= strapi_base  %><%= dataChooseUs.data.attributes.Choose_02_Img.data.attributes.url %>" alt="<%= dataChooseUs.data.attributes.Choose_02_Img.data.attributes.alternativeText %>" class=" rounded-[0.43rem] md:rounded-xl h-full w-full object-cover">
                    </div>
                    <div class="absolute md:top-5 top-2 p-[1px] w-full h-[calc(100%-1rem)] md:h-[calc(100%-2rem)] bottom-2 left-0 bg-[linear-gradient(0deg,rgba(0,229,188,0)0%,rgba(11,102,157,1)100%)] rounded-[0.64rem] md:rounded-[1.13rem]">
                        <div class="bg-white rounded-[0.55rem] md:rounded-[1.06rem] h-full w-full">

                        </div>
                    </div>

                </div>
                <div class="flex md:flex-col items-center md:pl-0 pl-[0.68rem] order-1 md:order-2 justify-center">
                    <div class="h-full w-[0.125rem] md:block hidden bg-[linear-gradient(180deg,#00E5BC_100%,#0B669D_100%)] self-center">

                    </div>
                    <div class="rounded-full text-center text-white text-[1.19rem] md:text-2xl font-medium bg-[linear-gradient(53deg,#0B669D_14.95%,#00E5BC_85.99%)] md:py-3 md:px-3 py-2 px-2.5">
                        02
                    </div>
                    <div class="h-[1px] w-full md:h-full md:w-[0.125rem] bg-[linear-gradient(90deg,#00E5BC_5.0%,#0B669D_100%)] md:bg-[linear-gradient(00deg,#00E5BC_5.0%,#0B669D_100%)] self-center relative z-30">
                        <div class="md:w-[0.125rem] md:h-[200%] absolute bg-white origin-right md:origin-bottom h-[1px] w-full slider-2">

                        </div>
                    </div>
                </div>
                <div class="col-span-2 md:py-32 py-5 col-start-2 md:col-start-1 pl-[0.38rem] md:pl-0 order-3 md:order-1">
                    <h3 class="text-base md:text-2xl font-medium md:font-normal">
                        <%= dataChooseUs.data.attributes.Choose_02_Heading %>
                    </h3>
                    <p class="text-[0.625rem] md:text-base mt-[0.4rem] md:mt-[0.81rem] leading-snug">
                        <%= dataChooseUs.data.attributes.Choose_02_Para %>
                    </p>
                </div>
            </div>
            <div class=" grid grid-cols-3 md:grid-cols-5 items-stretch">
                <div class="col-span-2 relative pt-4 md:pt-8">
                    <div class=" relative w-full h-32 md:h-full z-10 rounded-[0.43rem] md:rounded-xl overflow-hidden px-2">
                        <img src="<%= strapi_base  %><%= dataChooseUs.data.attributes.Choose_03_Img.data.attributes.url %>" alt="<%= dataChooseUs.data.attributes.Choose_03_Img.data.attributes.alternativeText %>" class=" rounded-[0.43rem] md:rounded-xl h-full w-full object-cover">
                    </div>
                    <div class="absolute md:top-5 top-2 p-[1px] w-full h-[calc(100%-1rem)] md:h-[calc(100%-2rem)] bottom-2 left-0 bg-[linear-gradient(0deg,rgba(0,229,188,0)0%,rgba(11,102,157,1)100%)] rounded-[0.64rem] md:rounded-[1.13rem]">
                        <div class="bg-white rounded-[0.55rem] md:rounded-[1.06rem] h-full w-full">

                        </div>
                    </div>

                </div>
                <div class="flex md:flex-col items-center md:pr-0 pr-[0.68rem] justify-center">
                    <div class="h-[1px] w-full md:h-full md:w-[0.125rem] md:bg-[linear-gradient(180deg,#00E5BC_100%,#0B669D_100%)] bg-[linear-gradient(90deg,#00E5BC_5.0%,#0B669D_100%)] self-center relative">
                        <div class="block md:hidden bg-white rounded-[0.55rem] origin-left md:rounded-[1.06rem] h-full w-full slider-3">

                        </div>
                    </div>
                    <div class="rounded-full text-center text-white text-[1.19rem] md:text-2xl font-medium bg-[linear-gradient(53deg,#0B669D_14.95%,#00E5BC_85.99%)] md:py-3 md:px-3 py-2 px-2.5">
                        03
                    </div>
                    <div class="h-full w-[0.125rem] bg-[linear-gradient(0deg,#00E5BC_5.0%,#0B669D_100%)] opacity-0 self-center hidden md:block relative">

                    </div>
                </div>
                <div class="col-span-2 md:py-32 py-5 pl-[0.38rem] md:pl-0">
                    <h3 class="text-base md:text-2xl font-medium md:font-normal">
                        <%= dataChooseUs.data.attributes.Choose_03_Heading %>
                    </h3>
                    <p class="text-[0.625rem] md:text-base mt-[0.4rem] md:mt-[0.81rem] leading-snug">
                        <%= dataChooseUs.data.attributes.Choose_03_Para %>
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>