<section class="mt-[1.75rem] overflow-x-hidden md:mt-[6.79rem] mx-6 md:mx-24 grid grid-cols-5 md:grid-cols-2 rounded-[0.2rem] md:rounded-[0.7rem] overflow-hidden">
    <div class="py-[2.56rem] col-span-3 md:col-span-1 md:py-[4.81rem] px-4 md:px-16 shadow-animate bg-[linear-gradient(90deg,#08679D_3%,#00E5BC_161%)] text-white">
        <h2 class="text-base md:text-[2.5rem] leading-tight"> 
            <%= data1.data.attributes.Contact_Card_Heading %>
        </h2>
        <p class="mt-[2.2rem] text-xl md:block hidden">
            <%if(data1.data.attributes.Contact_Card_Para) { %>
            <%= data1.data.attributes.Contact_Card_Para %>
            <%} %>
        </p>    
        <div class="mt-[1.13rem] md:mt-[7.3rem]">
            <a href="/contact" class="w-20 md:w-[13.3rem] text-center rounded-full btn-30 flex justify-center items-center text-[0.6rem] md:text-xl bg-darkBlue text-white py-3 md:py-4 leading-none">
                <p class="text-container basis-full"><span class="text">Contact Us</span></p>
            </a>
        </div>
    </div>
    <div class="col-span-2 md:col-span-1">
        <img src="<%= strapi_base %><%= data1.data.attributes.Contact_Card_Image.data.attributes.url %>" alt="<%= data1.data.attributes.Contact_Card_Image.data.alternativeText %>" class="h-full w-full object-cover">
    </div>
</section>