<section class="px-6 md:px-24 overflow-x-hidden pt-12 md:pt-[7rem]">
    <div>
        <h2 class="text-base md:font-normal leading-none font-medium md:text-header">
            <%= dataEmployees.data.attributes.Heading %>
        </h2>
        <div class="md:mt-[3.81rem] mt-4 flex md:grid md:grid-cols-2 items-stretch md:gap-5">
            <% dataEmployees.data.attributes.employees.data.forEach(employee => { %>
            <div
                class="rounded-[0.44rem]  md:rounded-[1.13rem] p-[1px] bg-[linear-gradient(180deg,#00E5BC_0%,#0B669D_100%)]">
                <div
                    class="relative md:p-6 p-3 md:w-auto w-[17rem] bg-white rounded-[0.40rem] md:rounded-[1.02rem] overflow-hidden aspect-square flex flex-col justify-end">
                    <div
                        class="absolute rounded-[0.36rem] md:rounded-[0.75rem] overflow-hidden top-3 left-3 right-3 bottom-3 md:top-6 md:bottom-6 md:left-6 md:right-6">
                        <div class="h-full">
                            <div
                                class="absolute top-0 bottom-0 left-0 right-0 bg-[linear-gradient(180deg,rgba(255,255,255,0.00)0.05%,rgba(47,45,45,0.43)_43.41%,#000_99.95%)] z-10">

                            </div>
                            <img src="<%= strapi_base + employee.attributes.Profile_Pic.data.attributes.url %>"
                                alt="<%= employee.attributes.Profile_Pic.data.attributes.alternativeText %>"
                                class="object-cover h-full w-full">
                        </div>
                    </div>
                    <div class="relative z-20 p-[0.8rem] text-white md:p-[1.44rem]">
                        <h3 class="md:text-[1.75rem] md:font-normal font-medium leading-none">
                            <%= employee.attributes.Name %>
                        </h3>
                        <p class="text-xs mt-3 md: md:text-[1.25rem] leading-snug">
                            <%= employee.attributes.About %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>