<%- include('partials/header', {dataSEO , dataSEOKeywords , strapi_base, base_url}) %> <%- include('partials/nav', {dataContact}) %>
        <header class="text-center mx-6 md:mx-24 pt-2 md:pt-[2.25rem]">
            <h1 class="md:text-header md:mt-7 md:font-normal font-medium text-[1.375rem]">
                <%= data1.data.attributes.Heading %>
            </h1>
            <p class="text-base mt-4 md: md:text-[2rem] leading-snug mx-auto md:max-w-[80%]">
                <%= data1.data.attributes.Paragraph %>
            </p>
        </header>
        
        <%- include('partials/expectation.ejs', {heading:false , dataExpectation, strapi_base}) %>
        <%- include('partials/choose-us.ejs', {dataChooseUs, strapi_base}) %>
            <%- include('partials/contact-us-card.ejs',{data1}) %>
                <section class="mx-6 md:mx-24 pt-11 md:pt-[7rem]">
                    <h2 class="text-base md:font-normal leading-none font-medium md:text-header text-center">
                        <%= data1.data.attributes.Client_Heading %>
                    </h2>
                    
                    <div class="flex md:gap-24 items-stretch mt-[1.31rem] md:mt-[3.87rem]">
                        <% data1.data.attributes.clients.data.forEach(client => { %>
                        <div class="block rounded-[0.44rem] md:rounded-[1.13rem] p-[1px] bg-[linear-gradient(180deg,#00E5BC29_16%,#0B669D_100%)]">
                            <div class="relative pt-6 pb-3 pl-[1.2rem] pr-[0.6rem] md:pt-20 md:pb-8 md:pl-[3rem] md:pr-[1.5rem] bg-white rounded-[0.40rem] md:rounded-[1.02rem] w-[10.75rem] md:w-[27.4rem]">
                                <div class="absolute w-16 md:w-auto top-0 -left-[1.4rem] md:-left-[3rem]">
                                    <img src="/images/qoutes.svg">
                                </div>
                                <p class="text-xs md:text-2xl leading-snug">
                                    <%= client.attributes.Message %>
                                </p>
                                <p class="md:mt-[1.3rem] mt-[0.6rem] text-right md:text-left text-xs md:text-xl">
                                    -<%= client.attributes.Name %>, <%= client.attributes.Year %>
                                </p>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    
                </section>
                <%- include('partials/employee.ejs', {dataEmployees , strapi_base, data1}) %>
                <section class="mx-6 md:mx-24 pt-11 md:pt-[7rem] text-center">
                    <h3 class="md:text-[2.5rem] leading-none font-medium md:font-normal">
                        <%= data1.data.attributes.Qoute %>
                    </h3>
                    <div class="mt-5 md:mt-12 bg-[#00E5BC] h-1 w-[5rem] md:w-[10.75rem] mx-auto">

                    </div>
                </section>
                <%- include('partials/clients.ejs', {dataCompanies, strapi_base}) %>
                    <%- include('partials/form.ejs', {data1, strapi_base , heading:true, formData:false}) %>
                        <%- include('partials/footer' , {flash,dataLegal}) %>