<%- include('partials/header') %> <%- include('partials/nav') %>
        <header class="mx-6 md:mx-24 pt-2 md:pt-[2.25rem]">
            <div class="md:flex justify-between items-center">
                <h1 class="font-crash home-title md:font-normal font-medium text-[1.375rem] md:text-header basis-full md:basis-auto">
                    <span>Unlocking Your Digital Future:</span>
                    <span>Seamless IT Solutions for Success</span>
                </h1>
                <svg version="1.1" id="Layer_1" class="hidden md:block h-1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300"
                    style="enable-background: new 0 0 300 300" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke: #16121e;
                            stroke-width: 3.6147;
                            stroke-linejoin: round;
                        }

                        .st1 {
                            fill: none;
                            stroke: #16121e;
                            stroke-width: 3.6147;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                        }
                    </style>
                    <g id="iconamoon:mouse-light" class="mouse">
                        <g id="Group">
                            <path id="Vector" class="st0" d="M133.4,141.7c0-4.4,1.7-8.6,4.9-11.7c3.1-3.1,7.3-4.9,11.7-4.9c4.4,0,8.6,1.7,11.7,4.9
			c3.1,3.1,4.9,7.3,4.9,11.7v16.6c0,4.4-1.7,8.6-4.9,11.7c-3.1,3.1-7.3,4.9-11.7,4.9c-4.4,0-8.6-1.7-11.7-4.9
			c-3.1-3.1-4.9-7.3-4.9-11.7V141.7z" />
                            <path id="Vector_2" class="st1" d="M150,136.2v11.1" />
                        </g>
                    </g>
                    <g class="origin-center spin">
                        <g>
                            <path d="M27.7,111.4l-13.4-0.9l0.7-1.8l8.9,0.6l2.8,0.4l0.1-0.1l-2.4-1.9l-6.5-6.2l0.9-2.2l9-0.1l3,0.2l0.1-0.1l-2.3-1.6l-6.9-5.6
			l0.7-1.8l10.4,8.5l-0.8,2.1l-9,0l-3-0.1l0,0.1l2.3,2l6.6,6.2L27.7,111.4z" />
                            <path d="M33.3,83.7c-3.2-2.1-4-6-1.7-9.5c2.3-3.5,6.1-4.3,9.4-2.2c3.2,2.1,4,6,1.7,9.5C40.4,85,36.5,85.8,33.3,83.7z M39.9,73.6
			c-2.6-1.7-5.1-1.4-7,1.6c-1.9,2.9-1.2,5.3,1.4,7c2.6,1.7,5.1,1.4,7-1.5C43.2,77.7,42.5,75.3,39.9,73.6z" />
                            <path d="M52.9,67.4l-9.3-8.7l1.1-1.2l2.6,2.4l0.1-0.1c-1.2-1.7-1.5-3.9,0.3-5.9c2-2.2,4.5-1.6,6.2,0l0.9,0.9l-1.3,1.3l-0.7-0.7
			c-1.6-1.5-3-1.6-4.5,0.1c-1.8,1.9-1.4,3.8,0.7,5.8l5.1,4.7L52.9,67.4z" />
                            <path
                                d="M67.7,52.9L57.1,39.1l1.5-1.1l6,7.9l3.4-2.6l0.1-6.9l1.7-1.3L69.7,43l8,2.3L76,46.6l-6.9-2l-3.4,2.6l3.5,4.6L67.7,52.9z" />
                            <path d="M179.9,26.3c-2.5-0.5-3.8-1.9-3.2-4.9l1.5-7l-2.2-0.5l0.3-1.5l2.2,0.5l0.6-3l1.8,0.4l-0.6,3l5,1.1l-0.3,1.5l-5-1.1
			l-1.5,7.1c-0.4,1.7,0.4,2.4,2.2,2.8l2.3,0.5l-0.4,1.6L179.9,26.3z" />
                            <path d="M194,23.5c1.4-3.6,5-5.2,8.9-3.6c3.9,1.5,5.5,5.1,4,8.8s-5,5.2-8.9,3.6C194.1,30.7,192.6,27.2,194,23.5z M205.3,28
			c1.1-2.9,0.3-5.2-3-6.5s-5.5-0.1-6.6,2.8c-1.1,2.9-0.3,5.2,2.9,6.5C201.9,32,204.1,30.9,205.3,28z" />
                            <path d="M217.1,33.1c1.9-3,5.2-3.8,8.6-1.7c2.3,1.4,3.4,3.6,2.6,5.8l0.1,0.1l1.8-2.8l1.4,0.9l-6.2,9.8c-2.2,3.6-5.4,3.6-8.6,1.5
			c-2.9-1.8-4.2-4.7-2.7-7.2l1.6,1c-1.2,1.9-0.4,3.5,2,5c2.8,1.8,4.4,1.6,6.1-1.1l1.8-2.8l-0.1-0.1c-1.5,1.4-3.9,1.6-6.4,0
			C215.9,39.4,215.2,36,217.1,33.1z M220.4,40.3c2.7,1.7,5.1,1.3,6.5-1l0.2-0.4c1.3-2.1,0.5-4.4-2-6c-2.4-1.5-4.8-1.7-6.5,1.1
			S218,38.8,220.4,40.3z" />
                            <path d="M237.4,56.5c-1.9-1.7-2.4-3.6-0.4-5.8l4.7-5.4l-1.7-1.5l1-1.2l1.7,1.5l2-2.3l1.4,1.2l-2,2.3l3.8,3.4l-1,1.2l-3.8-3.4
			l-4.8,5.4c-1.2,1.3-0.8,2.3,0.5,3.5l1.7,1.5l-1.1,1.3L237.4,56.5z" />
                            <path d="M246.6,65.5l13.4-11l1.2,1.4l-6.5,5.4l0.1,0.1c1.9-1,4.5-1,6.6,1.5c2.3,2.8,1.6,5.7-0.9,7.7l-5.7,4.7l-1.2-1.4l5.6-4.6
			c2.3-1.9,2.4-3.7,0.5-5.9c-2.2-2.6-4.7-2.3-7.1-0.3l-4.6,3.8L246.6,65.5z" />
                            <path d="M266.1,80.8c3.4-1.9,7.1-1,9.1,2.6c1.8,3.3,1.2,6.7-2.1,8.5c-0.4,0.2-0.8,0.4-1.1,0.5l-5.5-9.8c-2.5,1.5-3.3,3.6-1.6,6.6
			c1.5,2.6,3.1,3.3,4.7,2.4l0.2-0.1l0.9,1.6l-0.2,0.1c-2.3,1.3-5.2-0.1-7-3.2C261.5,86.3,262.5,82.8,266.1,80.8z M267.5,82l4.7,8.4
			c0.1-0.1,0.2-0.1,0.3-0.2c2.4-1.3,2.8-3.5,1.3-6.1C272.2,81.2,270,80.7,267.5,82z" />
                            <path d="M271,105l12.1-4.2l0.5,1.6l-3.3,1.2l0,0.1c2.1-0.3,4.2,0.5,5,3c1,2.8-0.6,4.7-2.9,5.5l-1.2,0.4l-0.6-1.7l0.9-0.3
			c2.1-0.7,2.8-1.9,2-4c-0.9-2.4-2.8-3-5.5-2l-6.5,2.3L271,105z" />
                        </g>
                        <g>
                            <path d="M20.1,208.6l0.1-0.1l0.8,1.7l-0.3,0.2c-2.2,1.1-2.7,3.1-0.9,6.7c1.5,3.1,3.1,4.1,4.9,3.2c1.7-0.9,1.8-2.2,1.2-4.7l-1-3.6
			c-0.8-2.8-0.7-5.3,1.9-6.6c2.1-1.1,5.1-0.3,7.4,4.1c2.2,4.4,0.8,7.5-2,8.9l-0.1,0.1l-0.8-1.7l0.3-0.1c2.2-1.1,2.8-3.1,1.1-6.5
			c-1.5-3.1-3.1-4-4.8-3.2c-1.8,0.9-1.8,2.2-1.1,4.7l1,3.6c0.9,3,0.6,5.4-1.8,6.6c-2.2,1.1-5.2,0.3-7.4-4
			C16,213.3,17.1,210,20.1,208.6z" />
                            <path d="M33.3,230.7c3.1-2.3,6.9-1.9,9.4,1.4c2.1,2.9,2.1,6.4-0.4,8.2l-0.2,0.1l-1.1-1.5l0.1-0.1c1.8-1.4,1.9-3.5,0.1-5.8
			c-2-2.7-4.4-2.8-6.9-0.9c-2.5,1.9-3.1,4.2-1,6.9c1.8,2.3,3.8,2.9,5.6,1.5l0.1-0.1l1.1,1.5l-0.2,0.1c-2.5,1.8-5.8,0.9-8-2
			C29.6,236.8,30.2,233,33.3,230.7z" />
                            <path d="M44.9,254.8l8.8-9.3l1.2,1.1l-2.4,2.5l0.1,0.1c1.7-1.2,3.9-1.4,5.9,0.4c2.1,2,1.6,4.5-0.1,6.2l-0.9,0.9l-1.3-1.3l0.7-0.7
			c1.5-1.6,1.6-3,0-4.5C55,248.6,53,249,51,251l-4.8,5L44.9,254.8z" />
                            <path d="M65.5,264.5c2.2-3.2,6-4,9.5-1.6c3.5,2.3,4.2,6.2,2.1,9.4s-6,4-9.5,1.6C64.1,271.5,63.4,267.7,65.5,264.5z M75.6,271.2
			c1.7-2.6,1.4-5.1-1.5-7s-5.3-1.3-7,1.3c-1.7,2.6-1.5,5,1.5,7S73.8,273.8,75.6,271.2z" />
                            <path d="M84.8,283.5l7.6-15.6l1.7,0.8l-7.6,15.6L84.8,283.5z" />
                            <path d="M98.5,289.4l5.9-16.3l1.7,0.6l-5.9,16.3L98.5,289.4z" />
                            <path d="M213.5,283.8l-8.4-15.2l6.6-3.7c4.5-2.5,9.1-1.2,11.7,3.4c2.6,4.6,1.3,9.2-3.2,11.7L213.5,283.8z M207.5,269.2l6.8,12.2
			l5-2.8c3.8-2.1,4.6-5.2,2.3-9.3c-2.3-4.1-5.3-5.1-9.2-2.9L207.5,269.2z" />
                            <path
                                d="M233.8,263.8c-2.5-3-2.2-6.9,1-9.6c3.2-2.7,7.1-2.4,9.6,0.6c2.5,3,2.2,6.9-1,9.6C240.2,267.1,236.3,266.7,233.8,263.8z
			 M243.1,256c-2-2.4-4.5-2.8-7.2-0.5c-2.7,2.3-2.7,4.8-0.7,7.1c2,2.4,4.4,2.8,7.1,0.5C245.1,260.9,245.1,258.4,243.1,256z" />
                            <path d="M259.9,248l-12.6-4.7l1.2-1.5l8.3,3.1l2.5,1.2l0.1-0.1l-1.7-2.5l-4.4-7.8l1.5-1.9l8.6,2.5l2.8,1.1l0.1-0.1l-1.7-2.2
			l-5-7.4l1.2-1.5l7.5,11.2l-1.4,1.8l-8.6-2.6l-2.9-1l-0.1,0.1l1.6,2.6l4.5,7.8L259.9,248z" />
                            <path d="M277.3,223l-11.5-5.7l0.7-1.5l3.6,1.8l0.1-0.1c-1.8-1.4-2.8-3.9-1.4-6.8c1.6-3.2,4.7-3.7,7.4-2.3l6.7,3.3l-0.8,1.6
			l-6.4-3.2c-2.4-1.2-4.3-0.7-5.6,1.9c-1.4,2.8-0.4,5.1,2.5,6.6l5.5,2.8L277.3,223z" />
                        </g>
                    </g>
                </svg>

            </div>
            <div
                class="mt-14 md:mt-20 rounded-[0.4rem] md:rounded-[1.25rem] overflow-hidden h-40 md:min-h-[60%] md:h-[30rem] header-img bg-slate-500 translate-y-full opacity-0">
                <img src="" alt="hero image" class="h-full w-full object-cover">
            </div>
        </header>
        <section class="mx-6 md:mx-24 pt-[3rem]">
            <h2 class="font-crash text-[1.125rem] font-medium md:font-normal md:text-header md:basis-3/4">
                Diving into Our Service Suite.
            </h2>
            <div class="grid grid-cols-2 mt-[1.19rem] md:mt-[1.45rem] font-crash md:gap-5 gap-4 card-animation-1">
                <a
                    class="block rounded-[0.80rem] p-[1px] bg-[linear-gradient(180deg,rgba(0,229,188,1)0%,rgba(11,102,157,1)100%)]">
                    <div class="py-4 md:block flex flex-col px-6 md:px-[2.25rem] md:py-[1.19rem] bg-white rounded-xl h-full">
                        <div class="flex items-end">
                            <h3 class="md:font-normal font-medium leading-none text-base md:text-2xl">
                                Cloud Computing.<span class="ml-2 hidden md:inline align-baseline text-links text-[0.625rem] md:text-[0.75rem]">
                                    Read more
                                </span>
                            </h3>
                        </div>
                        <p class="mt-[0.5rem] md:mt-[0.81rem] text-[0.625rem] md:text-base leading-snug">
                            Revolutionize your IT infrastructure with seamless scalability and accessibility through our
                            cutting-edge cloud computing solutions.
                        </p>
                        <div class="flex items-end md:hidden mt-2 flex-grow text-links text-[0.625rem] md:text-[0.75rem]">
                            <p>Read more</p>
                        </div>
                    </div>
                </a>
                <a
                    class="block rounded-[0.80rem] p-[1px] bg-[linear-gradient(180deg,rgba(0,229,188,1)0%,rgba(11,102,157,1)100%)]">
                    <div class="py-4 md:block flex flex-col px-6 md:px-[2.25rem] md:py-[1.19rem] bg-white rounded-xl h-full">
                        <div class="flex items-end">
                            <h3 class="md:font-normal font-medium leading-none text-base md:text-2xl">
                                Cloud Computing.<span class="ml-2 hidden md:inline align-baseline text-links text-[0.625rem] md:text-[0.75rem]">
                                    Read more
                                </span>
                            </h3>
                        </div>
                        <p class="mt-[0.5rem] md:mt-[0.81rem] text-[0.625rem] md:text-base leading-snug">
                            Revolutionize your IT infrastructure with seamless scalability and accessibility through our
                            cutting-edge cloud computing solutions.
                        </p>
                        <div class="flex items-end md:hidden mt-2 flex-grow text-links text-[0.625rem] md:text-[0.75rem]">
                            <p>Read more</p>
                        </div>
                    </div>
                </a>
            </div>
        </section>
       <%- include('partials/choose-us.ejs') %>
       <%- include('partials/contact-us-card.ejs') %>
        <%- include('partials/blogs-compenent.ejs') %>
        <%- include('partials/clients.ejs') %>
        <%- include('partials/form.ejs') %>
        
        <%- include('partials/footer') %>